<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="EasylogcloudKey" value=""/>
      <add key="ClickatellKey" value=""/>
      <add key="ClientEmail" value=""/>
      <add key="ClientSecret" value=""/>
      <add key="ClientPhone" value=""/>
      <add key="ClickatellPhone" value=""/>
      <add key="DeviceCount" value="3"/>
    </appSettings>
</configuration>